<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Уроки</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<#include "./header/navigation.ftlh">

<h2>Книги Online</h2>
<table>
    <tr>
        <th>Название книги</th>
        <th>Начало ознакомительного периода</th>
        <th>Окончание ознакомительного периода</th>
    </tr>
    <#list books as book>
        <tr>
            <td>${book.author}</td>
            <td>${book.startTime}</td>
            <td>${book.finishTime}</td>
            <td>
                <a href="/books/${book.id}">Перейти</a>
                <a href="/books/${book.id}/delete">Удалить</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/books" method="post">
    <h3>Добавить книгу</h3>
    <label>
        Название книги
        <input type="text" name="author" placeholder="Введите название книги">
    </label>
    <br>
    <label>
        Начало ознакомительного периода
        <input type="time" name="startTime" placeholder="Введите время начала" value="00:00">
    </label>
    <br>
    <label>
        Конец ознакомительного периода
        <input type="time" name="finishTime" placeholder="Введите время окончания" value="00:00">
    </label>
    <label>
        Краткое описание
        <input type="text" name="summary" value="Введите описание">
    </label>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>

</body>
</html>